
**/bin/
**/obj/
**/node_modules
**/dist
**/build
**/Logs
**/APIlogs

.vs/
*.suo
*.user
*.pdb
*.log
*.tlog
*.trx
*.vsdproj.user
.DS_Store


packages/
*.nupkg
.cache/
project.lock.json

TestResults/
*.tmp
*~


appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json
appsettings.json.user
